Services.Logging.WCF.TestHarness/Connected Services/WcfLogServiceReference/LogWCF5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logging.WCF.Models.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logging.WCF.Models.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61234/LogWCF.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:61234/LogWCF.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/log4net.Core" />
  <xs:import schemaLocation="http://localhost:61234/LogWCF.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LoggingEventDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ExceptionObject" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="ExceptionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identity" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/log4net.Core" minOccurs="0" name="LocationInformation" nillable="true" type="q2:LocationInfo" />
      <xs:element minOccurs="0" name="LoggerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/log4net.Core" minOccurs="0" name="LoggingEventData" type="q3:LoggingEventData" />
      <xs:element minOccurs="0" name="MessageObject" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Properties" nillable="true" type="q4:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="RenderedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Repository" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ThreadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggingEventDto" nillable="true" type="tns:LoggingEventDto" />
</xs:schema>